<section class="content-meta" data-section="content-meta">
  <div class="pd-primary-collection-wrap">
    <div class="meta-left">
      <div class="info-wrap">
        <div class="content-head">
          <h2 class="u-h2">Our Stores in this Country</h2>
        </div>
        <div class="content">
        
        </div>
        <div class="content-author"></div>
      </div>
    </div>
    <div class="meta-right">
  <div class="overflow-scroll"> 
      <div class="media-wrap">
         <div class="img-on-dot">
            <div class="dot1"></div>
            <div class="dot2"></div>
             <div class="ex-dot"></div>
          </div>
       <img src="https://cdn.shopify.com/s/files/1/0633/5437/2288/files/world-map-illustration-world-map-png_1_1.png?v=1707382184">
          <!-- <source src="https://cdn.shopify.com/videos/c/o/v/2ee179ed99ba4c8ba9dd1ad0d3771368.mp4" type="video/mp4">
          <source src="https://cdn.shopify.com/videos/c/o/v/2ee179ed99ba4c8ba9dd1ad0d3771368.mp4" type="video/ogg"> -->
       
        <!-- <div class="video-icon">
          <a href="#" class="play-icon video-button">  
            <div class="video-button-inner">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 320.001 320.001" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m295.84 146.049-256-144a16.026 16.026 0 0 0-15.904.128A15.986 15.986 0 0 0 16 16.001v288a15.986 15.986 0 0 0 7.936 13.824A16.144 16.144 0 0 0 32 320.001c2.688 0 5.408-.672 7.84-2.048l256-144c5.024-2.848 8.16-8.16 8.16-13.952s-3.136-11.104-8.16-13.952z" fill="#ffffff" opacity="1" data-original="#000000" class=""></path></g></svg>
            </div>
          </a>     
          <a href="#" class="pause-icon video-button">                           
            <div class="video-button-inner">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M13 5v22a3 3 0 0 1-3 3H9a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h1a3 3 0 0 1 3 3zm10-3h-1a3 3 0 0 0-3 3v22a3 3 0 0 0 3 3h1a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3z" data-name="Layer 30" fill="#ffffff" opacity="1" data-original="#000000" class=""></path></g></svg>
            </div>
          </a> 
        </div> -->
      </div>
  </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Content meta",
    "settings": []
  }
{% endschema %}