{% if product.metafields.custom.image_with_text != blank %}
<section class="content-meta text-multiple-image" data-section="text-multiple-image">
  <div class="pd-primary-collection-wrap">
    <div class="meta-left">
      <div class="info-wrap">
        {% assign objet_get = product.metafields.custom.image_with_text.value %}              
        <div class="content-head">
          <p>{{ objet_get.title }}</p>
        </div>
        <div class="content">
          {{ objet_get.content | metafield_text }}      
        </div>
        <div class="content-author">— David Yurman</div>        
      </div>
    </div>
    <div class="meta-right">
      <div class="media-wrapp">
         <div class="ProductList">                      
            {% for i in (1..3) %}
              {% capture image_get %}image_{{ i }}{% endcapture %}           
              <div class="Carousel__Cell">
                <div class="ProductItem__ImageWrapper">    
                  <div class="AspectRatio AspectRatio--withFallback" style="max-width: 1000px; padding-bottom: 100%; --aspect-ratio:1.0">      
                    <img class="ProductItem__Image" src="{{ objet_get[image_get] | img_url:'master'  }}" alt="Image With Text">       
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Image With Text",
    "settings": []
  }
{% endschema %}